.center {
  text-align: center;
}
.radius {
  border-radius: 20px;
}
html,
body {
  height: 100%;
  font-size: 65.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 1.7rem;
}
.container {
  width: 60%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Public Sans', sans-serif;
}
p,
a {
  font-family: 'Open Sans', sans-serif;
}
.nav-section .nav-img {
  margin: 0 auto;
  height: 10vh;
}
.nav-section nav {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}
.container h1,
.container h2,
.container h3 {
  text-align: center;
}
.container h1 {
  color: #FF6A22;
}
.container .micro-container {
  background-color: #FF6A22;
  border: 2px solid #FF6A22;
  border-radius: 20px;
  margin-bottom: 2%;
}
.container .landing-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
}
.container .landing-middle div {
  border: 2px solid white;
  border-radius: 20px;
  width: 30%;
  background-color: #a53700;
  padding: 2%;
}
.container .landing-middle div h3 {
  color: white;
  margin-bottom: 2%;
}
.container .landing-middle div p {
  text-align: center;
  color: #dfdfdf;
  font-size: 1.2rem;
}
.container .landing-h2-div {
  margin: 2% auto;
}
.container .exercise1,
.container .exercise2 {
  border-radius: 20px;
}
.container .logo-div {
  margin: auto;
  width: 26%;
}
.container .landing-middle {
  text-align: center;
}
.container .sign-up-section {
  width: 95%;
  margin: 0 auto;
}
.container .sign-up-section img {
  border-radius: 20px;
  height: 30vh;
}
.container .sign-up-section .sign-up-div {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
}
.container .sign-up-section .sign-up {
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
  width: 30%;
  padding: 3% 2%;
}
.container .sign-up-section .sign-up h4 {
  font-size: 1.3rem;
  color: #FF6A22;
}
.container .sign-up-section p {
  border: 2px solid white;
  border-radius: 20px;
  background-color: #a53700;
  color: white;
  margin: 2% auto;
  text-align: center;
  padding: 4%;
}
