footer {
    .border(2px, @color1);
    padding: 2% 0;
    height: 20%;

    #footer-h2 {
        color: @color5;
        margin-bottom: 2%;
        font-size: 1.3rem;
    }

    .contact {
        .auto(0);
        width: 55%;
        padding-left: 5%;

        a {
            img {
                height: 10vh;
                max-height: 80px;
                margin-right: 5%;
            }
        }
    }
}