.container,
.container2 {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;

    @media @phone {
        width: 90%;
    }

    h1,
    h2,
    h3 {
        .center();
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Public Sans', sans-serif;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.7rem;
}
