.micro-container {
    img {
        .radius();
    }

    h2 {
        .auto(1%);
        color: @color2;
    }

    h3 {
        font-size: 1.2rem;
        color: @color3;

        img{
            width: 1.3vw;
        }
    }

    .class-section {
        border-top: 2px solid @color2;
        border-bottom: 2px solid @color2;
        padding: 2% 1%;
        width: 90%;
        .auto(0);
        .flex(space-between, center);
        img {
            width: 2vw;
        }
        .class {
            .radius();
            background-color: @color2;
            .test();
            width: 20%;
            .class-image-div {
                .auto(0);
                width: 90%;
                margin-top: 2%;
                img {
                    width: 10vw;
                }
            }
            h4 {
                .center();
                font-size: 1rem;
            }

            h5 {
                .center();
                font-size: 0.8rem;
            }
            .stars-div {
                .auto(0);
                width: 80%;
                img {
                    width: 9vw;
                }
            }
        }
    }

    .home-class-section3 {
        margin-top: 2%;

        h3 {
            color: @color2;
            font-size: 1.6rem;
            margin-bottom: 2%;
        }
    }

    .exercise-div{
        margin-top: 2%;
    }
}