.container {

    .logo2 {
        .radius();
        .auto(2%);
        background-color: @color2;
        width: 40%;
    }

    h1 {
        margin-bottom: 1%;
        color: @color1;
    }

    .exercise-background-div {
        .radius();
        padding: 5%;
        background-image: url(/img/Exercise1.jfif);
        background-repeat: no-repeat;
    }

    .landing-middle {
        .flex(space-evenly, none);
        .auto(0);
        width: 95%;


        div {
            .border(2px, @color2);
            width: 32%;
            background-color: @color3;
            padding: 2%;

            @media @phone,
            @tablet {
                width: 46%;
            }

            h3 {
                color: @color2;
                margin-bottom: 2%;

                @media @phone {
                    font-size: 1rem;
                }
            }

            p {
                color: @color4;
                font-size: 1.2rem;

                @media @phone {
                    font-size: 0.9rem;
                }
            }
        }

        .index-classes {
            @media @phone {
                display: none;
            }
        }

    }

    .landing-h2-div {
        .auto(2%);
    }

    .sign-up-section {
        .auto(0);
        width: 95%;
        margin-bottom: 2%;

        img {
            width: 18vw;
            max-width: 300px;

            @media @phone,
            @tablet {
                display: none;
            }
        }

        .sign-up-div {
            .flex(space-evenly, none);
            margin-bottom: 2%;
        }

        .sign-up {
            .test();
            .radius();
            .auto(auto);
            background-color: @color2;
            width: 30%;
            padding: 2%;
            height: 100%;

            @media @phone,
            @tablet {
                width: 60%;
            }

            textarea {
                width: 90%;
                .auto(10%)
            }

            h4 {
                font-size: 1.2rem;
                color: @color1;
            }

            .next {
                .auto(2%);
                .border(1px, @color1);
                width: 45%;
                background-color: @color1;
                padding: 1%;
                font-size: 0.9rem;
    
                img {
                    padding: 2%;
                    width: 2.2vh;
                }
            }
        }


        .bottom-p {
            .auto(0);
            .border(2px, @color2);
            background-color: @color3;
            color: @color2;
            padding: 4%;

            @media @phone {
                display: none;
            }
        }

    }
}