
.auto(@marg-tb) {
    margin: @marg-tb auto;
}

.flex (@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.border(@pixels, @color){
    border: @pixels solid @color;
    border-radius: 20px;
}

.radius {
    border-radius: 20px;
}

.test {
    border: 1px solid black
}