.container2{
    .nav-section {

        .nav-div {
            position: fixed;
            top: 0;
            background-color: @color2;
            width: 60%;
            opacity: .9;
        }

        .nav-logo {
            padding-top: 1%;
            .logo1 {
                height: 15vh;
            }
        }

        div{
            .flex(space-evenly, center);

            .nav-textarea {
                .radius();
                padding: 2%;
                background-color: @color1;
            }

            textarea {
                width: 100%;
            }
        }


        .nav-hamburger{
            padding-top: 2%;
            .hamburger{
                width: 3vw;
            }
        }
    
        nav {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 2%;
            .flex(space-evenly, center);

            a {
                color: @color1;
                font-size: 1.3rem;
            }
        }
    }
}