.nav-section {
    .nav-img {
        margin: 0 auto;
        height: 10vh;
    }

    
    nav {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-between;
    }
}